//@import "../../zurb_foundation/scss/foundation/functions";

.meta_header{
  background: $gainsboro;
  font-size: 0.85rem;
  color: $charcoal;
}

//Main-menu
//html.no-touchevents.details.js body.lang-sv.section-elever.views-page.user-logged-in.path-elever div.dialog-off-canvas-main-canvas div.off-canvas-wrap div.inner-wrap div.menu-desktop.row div.row div.columns.large-12 div nav#block-elevsys-huvudmeny.block-elevsys-huvudmeny ul.menu.nav-bar li
.menu-desktop-wrapper{
  background: $silver;
    ul.menu{

      margin-top: 10px;
      margin-bottom: 10px;
//      float: right;
      li{

        list-style-type: none;
        float: left;
        padding-left: 1rem;
        a{
          color: $black;
          font-size: 1.2rem;
        }
//        span:hover, a:hover{
//          color: $primary-color;
//        }
//        span{
//          font-size: 1.2rem;
//          cursor: pointer;
//        }
      }
    }
//  }
}


//scroll
.scroll-top {
  background-color: $primary-color;
  border-radius: 4px;
  bottom: 1.5rem;
  display: none;
  height: 40px;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: 40px;
}

.fi-arrow-up::before {
  content: "";
}
.scroll-top i {
  color: #ffffff;
  font-size: 1.7rem;
  //    margin: 0 0 2.5rem 0;
  padding: 0;
}