<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/themes/contrib/elevsys/css/entity-print.css">
</head>
<body>
<div class="page">
    {{ content }}
</div>
</body>
</html>
